@using MVC_4.Models
@model MVC_4.Models.Student

@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Student</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
  }
@Html.Action("Create", "Subject")


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
  @*  @Scripts.Render("~/bundles/jqueryval")*@
}
